<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(204, 113, 232);">
    <div class="container-fluid">
      <a class="navbar-brand">CRUDAPP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item posts-link">
            <a class="nav-link active shelf-list-tab" style="font-weight: 500;" aria-current="page" [routerLink]="['/shelfList']">Shelfs</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>